.navigation-bar {
    background: #C6A600;
    overflow: hidden;
}

.navigation-bar a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    font-size: 15px;
    color: white;
    text-decoration: none;
}

.navigation-bar a.active {
    background-color: #04AA6D;
}

.navigation-bar a:hover {
    background-color: rgba(0, 255, 255, 0.374);
}

html {
    font-family: sans-serif;
    scroll-behavior: smooth;
}

.darkbutton {
    background-color: #1a3a2e;
    color: white;
    padding: 12px 15px;
    text-align: center;
    float: right;
    font-size: 15px;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
  }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 15px;
    display: block;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 12px 15px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;  
}

.box-outline {
    background: rgb(0,172,238);
    background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
}

.box-outline span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.box-outline:before, 
.box-outline:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background: rgba(2,126,251,1);
    transition: all 0.3s ease;
}

.box-outline:before {
    height: 0%;
    width: 2px;
}

.box-outline:after {
    width: 0%;
    height: 2px;
}

.box-outline:hover{
    background: transparent;
    box-shadow: none;
}

.box-outline:hover:before {
    height: 100%;
}

.box-outline:hover:after {
    width: 100%;
}

.box-outline span:hover{
    color: rgba(2,126,251,1);
}

.box-outline span:before,
.box-outline span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background: rgba(2,126,251,1);
    transition: all 0.3s ease;
}

.box-outline span:before {
    width: 2px;
    height: 0%;
}

.box-outline span:after {
    width: 0%;
    height: 2px;
}

.box-outline span:hover:before {
    height: 100%;
}

.box-outline span:hover:after {
    width: 100%;
}

.rainbow {
    font-size: 30px;
    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet, red);
    -webkit-text-fill-color: transparent;
    animation: rainbow-animation 35s linear infinite;
    -webkit-background-clip: text;
}

@keyframes rainbow-animation {
    to {
        background-position: 4500vh;
    }
}

.creations {
    text-align: center;
    color: blueviolet;
}

.MINECRAFT {
    background-color: #c2fbd7;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset, rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px, rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px, rgba(44, 187, 99, 0.15) 0 16px 32px;
    color: green;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    cursor: pointer;
}

.MINECRAFT:hover {
    box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset, rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px, rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px, rgba(44, 187, 99, 0.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}

.BlueOutline {
    box-shadow: 3px 4px 0px 0px #4e57ef;
    height: 150;
    width: 130;
}

.smallestviolin {
    display: flex;
    justify-content: space-between;
}

.about {
    text-align: center;
    animation: changeCursor 28s infinite;
    font-family: cursive;
    display: grid;
    place-items: center;
}

@keyframes changeCursor {
    0% {
        cursor: pointer;
    }
    25% {
        cursor: help;
    }
    50% {
        cursor: progress;
    }
    75% {
        cursor: text;
    }
    100% {
        cursor: not-allowed;
    }
}

.dark11 {
    background-color: transparent;
    width: 180px;
    height: 30px;
}

body {
    background-size: 100%;
}